div.about
  div.content
    div.about-inner
      div.title-wrapper
        h3.title About The App
        h4.subtitle.
          Writers and stars of Veep have responded incredulously to the news an Australian 
          politician required preinstalled stitches way  email client, calendar, 
          mapping program.
      div.about-section-wrapper
        div.about-section
          div.about-section-box-icons
            i.fa.fa-headphones(aria-hidden="true")
          h5.about-section-title 24/7 Support
          p.about-section-description.
            Apps that are not preinstalled are usually available through distribution 
            platforms called app stores.
        div.about-section
          div.about-section-box-icons
            i.fa.fa-lock(aria-hidden="true")
          h5.about-section-title Data Privacy
          p.about-section-description.
            Apps that are not preinstalled are usually available through distribution 
            platforms called app stores.
        div.about-section
          div.about-section-box-icons
            i.fa.fa-download(aria-hidden="true")
          h5.about-section-title Easy Download
          p.about-section-description.
            Apps that are not preinstalled are usually available through distribution 
            platforms called app stores.           

