div.clients
  div.content
    div.clients-inner
      h3.clients-title Some Talk of Our Clients
      div.clients-sl
        div.clients-sl-slide
          div.client-say
            div.client-avatar
              img(src="images/client-avatar.png" alt="Client avatar")
            p.client-name oliver gomez
            p.client-position CEO of google
            blockquote.client-bq.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 
              1500s,good.
        div.clients-sl-slide
          div.client-say
            div.client-avatar
              img(src="images/client2-avatar.png" alt="Client avatar")
            p.client-name Rita watson
            p.client-position Web Designer
            blockquote.client-bq.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 
              1500s,good.
        div.clients-sl-slide
          div.client-say
            div.client-avatar
              img(src="images/client-avatar.png" alt="Client avatar")
            p.client-name oliver gomez
            p.client-position CEO of google
            blockquote.client-bq.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 
              1500s,good.