div.features
  div.content
    div.features-inner
      div.title-wrapper
        h3.title.color-fff Features The App
        h4.subtitle.color-fff.
          Writers and stars of Veep have responded incredulously to the news an Australian 
          politician required preinstalled stitches way  email client, calendar, 
          mapping program.
      div.features-content-wrapper    
        img.features-img(src="images/Phone-home.png" alt="picture of the phone")
        div.features-section-wrapper
          div.features-section
            div.features-section-icon.creative-icon
            div.features-section-title-wrapper
              h6.features-section-title CREATIVE DESIGN
              p.features-section-description.
                Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod 
                temporara. Another projects managed with a easy design is what we stand for.
                incididunt ugt labore.
          div.features-section
            div.features-section-icon.unlimited-icon
            div.features-section-title-wrapper
              h6.features-section-title Unlimited Features
              p.features-section-description.
                Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod 
                temporara. Another projects managed with a easy design is what we stand for.
                incididunt ugt labore.
          div.features-section
            div.features-section-icon.friendly-icon
            div.features-section-title-wrapper
              h6.features-section-title User Friendly
              p.features-section-description.
                Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod 
                temporara. Another projects managed with a easy design is what we stand for.
                incididunt ugt labore.
          div.features-section
            div.features-section-icon.clean-icon
            div.features-section-title-wrapper
              h6.features-section-title CLEAN CODES
              p.features-section-description.
                Lorem ipsum dolor sit amet, consectet adop adipisicing elit, sed do eiusmod 
                temporara. Another projects managed with a easy design is what we stand for.
                incididunt ugt labore.                  
            
          