footer.footer
  div.content
    div.footer-inner
      div.footer-copyright
        p Copyright © 2018 UIXREX, All rights Reserved.
      div.footer-social
        a.footer-social-link(href="#")
          i.fa.fa-facebook(aria-hidden="true")
        a.footer-social-link(href="#")
          i.fa.fa-twitter(aria-hidden="true")
        a.footer-social-link(href="#")
          i.fa.fa-instagram(aria-hidden="true")  
        a.footer-social-link(href="#")
          i.fa.fa-google-plus(aria-hidden="true")
        a.footer-social-link(href="#")
          i.fa.fa-behance(aria-hidden="true")
        a.footer-social-link(href="#")
          i.fa.fa-dribbble(aria-hidden="true")