header.header
  a.header-logo
    img(src="images/Header-logo.png", alt="Logo of Uixrex company")
  div.menu-toggle
    div.line
    div.line
    div.line  
  nav.header-menu
    a.header-menu-link(href="#") Home
    a.header-menu-link(href="#") About
    a.header-menu-link(href="#") Features
    a.header-menu-link(href="#") Pricing
    a.header-menu-link(href="#") Screenshot
    a.header-menu-link(href="#") Contact
  a.button-try-free(href="#") Try for free  

            