div.home
  include _mobile-menu
  div.content
    include _header
    div.home-inner
      img.home-img(src="images/Phone-home.png" alt="picture of the phone")
      div.home-description
        h1.home-title The Best App to Increase Your Productivity
        h2.home-subtitle.
          A mobile app is a computer program designed to run on a 
          mobile device such as a phone/tablet or watch.
        a.store-link.appstore(href="#") Get It From 
          span.store-name Appstore
        a.store-link.playstore(href="#") Get It From
          span.store-name Playstore

      