nav.header-mobile-menu
  ul
    li
      a.header-mobile-menu-link(href="#") Home
    li  
      a.header-mobile-menu-link(href="#") About
    li 
      a.header-mobile-menu-link(href="#") Features
    li  
      a.header-mobile-menu-link(href="#") Pricing
    li
      a.header-mobile-menu-link(href="#") Screenshot
    li
      a.header-mobile-menu-link(href="#") Contact
    li
      a.header-mobile-menu-link(href="#") Try for free