div.pricing
  div.content
    div.pricing-inner
      div.title-wrapper
        h3.title Pricing Plan
        h4.subtitle.
          Writers and stars of Veep have responded incredulously to the news an Australian 
          politician required preinstalled stitches way  email client, calendar, 
          mapping program.
      div.pricing-section-wrapper
        div.pricing-section
          p.tariff-name Basic
          p.tariff-price &#36;00
          p.tariff-description Limited access
          div.tariff-option-wrapper
            p.tariff-option
              i.fa.fa-check(aria-hidden="true")
              |100 MB Disk Space
            p.tariff-option
              i.fa.fa-check(aria-hidden="true")
              |2 Subdo mains
            p.tariff-option
              i.fa.fa-check(aria-hidden="true")
              |5 Email Accounts
            p.tariff-option
              i.fa.fa-times(aria-hidden="true")
              |No License 
            p.tariff-option
              i.fa.fa-times(aria-hidden="true")
              |Phone & Mail Support   
          a.button-purchase(href="#") purchase
        div.pricing-section
          p.tariff-name Professional
          p.tariff-price &#36;12
          p.tariff-description Limited access
          div.tariff-option-wrapper
            p.tariff-option
              i.fa.fa-check(aria-hidden="true")
              |100 MB Disk Space
            p.tariff-option
              i.fa.fa-check(aria-hidden="true")
              |2 Subdo mains
            p.tariff-option
              i.fa.fa-check(aria-hidden="true")
              |5 Email Accounts
            p.tariff-option
              i.fa.fa-check(aria-hidden="true")
              |No License 
            p.tariff-option
              i.fa.fa-times(aria-hidden="true")
              |Phone & Mail Support   
          a.button-purchase(href="#") purchase
        div.pricing-section
          p.tariff-name Business
          p.tariff-price &#36;22
          p.tariff-description Limited access
          div.tariff-option-wrapper
            p.tariff-option
              i.fa.fa-check(aria-hidden="true")
              |100 MB Disk Space
            p.tariff-option
              i.fa.fa-check(aria-hidden="true")
              |2 Subdo mains
            p.tariff-option
              i.fa.fa-check(aria-hidden="true")
              |5 Email Accounts
            p.tariff-option
              i.fa.fa-check(aria-hidden="true")
              |No License 
            p.tariff-option
              i.fa.fa-check(aria-hidden="true")
              |Phone & Mail Support   
          a.button-purchase(href="#") purchase            
           	
