div.screenshots
  div.content.sl-content
    div.screenshots-inner
      div.title-wrapper
        h3.title App Screenshots
        h4.subtitle.
          Most such devices are sold with several apps bundled as pre-installed software, 
          such as a web browser, email client, calendar, mapping program.
      div.screenshots-sl
        div.screenshots-sl-slide
          img(src="images/screenshot.jpg" alt="App screenshot")
        div.screenshots-sl-slide
          img(src="images/screenshot-two.jpg" alt="App screenshot")
        div.screenshots-sl-slide
          img(src="images/screenshot-three.jpg" alt="App screenshot")
        div.screenshots-sl-slide
          img(src="images/screenshot-four.jpg" alt="App screenshot")
        div.screenshots-sl-slide
          img(src="images/screenshot-five.jpg" alt="App screenshot")
        div.screenshots-sl-slide
          img(src="images/screenshot.jpg" alt="App screenshot")
        div.screenshots-sl-slide
          img(src="images/screenshot-two.jpg" alt="App screenshot")
        div.screenshots-sl-slide
          img(src="images/screenshot-three.jpg" alt="App screenshot")
        div.screenshots-sl-slide
          img(src="images/screenshot-four.jpg" alt="App screenshot")
        div.screenshots-sl-slide
          img(src="images/screenshot-five.jpg" alt="App screenshot")