include ../node_modules/bemto.pug/bemto

html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(charset='utf-8')
        title uixrex
        link(href="https://fonts.googleapis.com/css?family=Poppins:400,500" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&amp;subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.css")
        link(rel='stylesheet', href='css/styles.css', type='text/css')
        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    body
      div.wrapper
        main.main
          include includes/_home
          include includes/_about
          include includes/_features
          include includes/_pricing
          include includes/_contacts
        include includes/_footer
        a#up-btn-js.up-btn(href="#")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.js")
      script(src="js/slider.js")
      script(src="js/header-mobile-menu.js")
      script(src="js/up-btn.js")